In [1]:
from hana_ml import dataframe

url, port, user = "hana-ml-api.hana-ml.c.ap-cn-1.cloud.sap", 30115, "PAL_TEST"
connection_context = dataframe.ConnectionContext(url, port, user)

In [12]:
import pandas as pd

df = dataframe.create_dataframe_from_pandas(connection_context,
                                            pandas_df=pd.DataFrame({"XML": ['<root><element>value1</element></root>', '<root><element>value2</element></root>']}),
                                            table_name='XML_TABLE',
                                            force=True)

100%|██████████| 1/1 [00:00<00:00,  2.56it/s]

In [13]:
df.collect()

                                      XML
0  <root><element>value1</element></root>
1  <root><element>value2</element></root>

In [14]:
connection_context.sql("""
SELECT *
FROM 
    XML_TABLE,
    XMLTABLE('/root' PASSING 
        XML_TABLE.XML
    COLUMNS 
        element_value  VARCHAR(100) PATH 'element'
    ) AS t;
                       """).collect()

                                      XML ELEMENT_VALUE
0  <root><element>value1</element></root>        value1
1  <root><element>value2</element></root>        value1
2  <root><element>value1</element></root>        value2
3  <root><element>value2</element></root>        value2